@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #4480C7;
  padding: 3rem; }

.heading-primary {
  color: #4480C7;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */ }
    .heading-primary--main-up {
      font-size: 5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary__piepag {
    color: white; }

.paragraph {
  font-size: 1.6rem;
  color: white; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top {
  margin-top: 8rem; }

.u-margin-huge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #4480C7;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #4480C7;
  color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .btn--blue::after {
    background-color: #4480C7; }

.btn--green {
  background-color: #4480C7;
  color: #fff; }
  .btn--green::after {
    background-color: #4480C7; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4480C7;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4480C7;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #4480C7;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.randomAdd {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .randomAdd__img {
    width: 90%;
    height: 12rem; }
  .randomAdd:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .randomAdd--ventas {
    width: 23rem;
    background-color: #fff;
    float: left;
    margin-right: 2.5rem; }

.search-box {
  width: 100rem;
  height: 50px;
  border-radius: 100px;
  background-color: #4480C7;
  border: none;
  padding: 8px 16px;
  color: white;
  outline: 0;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .search-box::placeholder {
    color: white;
    font-size: 1.5rem; }

.categories {
  background-color: #4480C7;
  color: white;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .categories__categorie {
    text-align: center;
    padding: 2rem; }
    .categories__categorie-icon {
      font-size: 6rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      background-color: white;
      -webkit-background-clip: text;
      color: transparent; }

.product__img-car {
  width: 80%;
  height: 27rem;
  border-radius: 5px;
  transition: all 0.3s; }
  .product__img-car:hover {
    transform: scale(1.05); }

.product__text {
  font-size: 1.5rem; }

.usuario {
  display: inline-block;
  text-align: center; }
  .usuario__shape {
    position: relative;
    width: 8rem;
    height: 8rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    display: inline-block; }
  .usuario__img-profile {
    height: 100%;
    transform: translateX(-2rem); }
  .usuario__text {
    font-size: 1.5rem; }
    .usuario__text-link {
      color: #4480C7; }

.contenedor {
  background-color: #fff;
  border-radius: 15px;
  width: 95%;
  display: inline-block;
  padding: 6rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.comentario {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6); }
  .comentario__shape {
    position: relative;
    width: 8rem;
    height: 8rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem); }
  .comentario__img {
    height: 100%;
    transform: translateX(-4rem);
    transition: all 0.5s; }
  .comentario__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all 0.5s;
    opacity: 0; }
  .comentario:hover .comentario__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .comentario:hover .comentario__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-1 {
    width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem); }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem); }
  .row .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem); }
  .row .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem); }
  .row .col-1-of-5 {
    width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.header {
  height: 20vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #f7f7f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    display: inline-block;
    top: 8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__search-box {
    width: 100rem;
    height: 50px;
    border-radius: 100px;
    background-color: #4480C7;
    border: none;
    padding: 8px 16px;
    color: white;
    outline: 0;
    font-size: 1.5rem; }
    .header__search-box::placeholder {
      color: white;
      font-size: 1.5rem; }

.section-categories {
  padding-bottom: 6rem;
  background-color: #f7f7f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.section-randomAdd {
  padding: 15rem;
  background-color: #f7f7f7; }

.section-product {
  background-color: #f7f7f7;
  padding: 3rem;
  text-align: center; }

.section-perfil-header {
  background-color: #f7f7f7;
  padding: 3rem; }

.section-perfil-ventas {
  background-color: #f7f7f7;
  text-align: center; }

.section-perfil-valoraciones {
  background-color: #f7f7f7;
  text-align: center; }

.section-piepag {
  background-size: 15vh;
  background-color: #4480C7;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }
