
   
    .shape {
        width: 8rem;
        height: 8rem;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }
    .img-profile{
        height: 100%;
        width: 100%;
        float:center;
    }

