.section-categories{
    padding-bottom: 6rem;
    background-color: $color-grey-light-1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.section-randomAdd{
    //background-size: cover;
    padding: 15rem;
    background-color: $color-grey-light-1;
}
.section-product{
    background-color: $color-grey-light-1;
    padding: 3rem;
    text-align: center;

}
.section-perfil-header{
    background-color: $color-grey-light-1;
    padding: 3rem;
}
.section-perfil-ventas{
    background-color: $color-grey-light-1;
    text-align: center;

}
.section-perfil-valoraciones{
    background-color: $color-grey-light-1;
    text-align: center;
}
.section-piepag{
    background-size: 15vh;
    background-color:$color-primary;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

